ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  width: max-content;
}

li {
  float: left;
}

li  {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
 a {
  /* display: block; */
  color: white;
  text-align: center;
  /* padding: 16px; */
  /* text-decoration: none; */
}
li a:hover {
  background-color: #111111;
}

.comic ,.chap, .comic a{
  color: blue;
  text-decoration: none;
  cursor: pointer;
}

.newchap, .date {
  color:black;
  text-align: center;
  width: 100px;
  height: fit-content;
}
table {
  border-collapse: collapse;
}
th{
  color: black!important;
}
table ,th, td{
  border: 1px solid black;
}

